Repository harrellbm/Communication-Manager-Electron, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Style, Main Process, Main Window, Message Editor, Object Template, documentation

style: main tabs with gradients
  assets/index.css
  src/index.js
Labels: Style, Main Window

style: tab styling tweaks that are awesome!!!
  assets/index.css
  src/index.js
Labels: Style, Main Window

refractor: transition x buttons to spans
  assets/index.css
  src/index.js
Labels: Style, Main Window

refractor: clean up add mess tab buttons
  assets/index.css
  src/index.html
Labels: Style, Main Window

refractor: more style clean up
  assets/index.css
  src/index.html
Labels: Style, Main Window

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: ave popup validate for type of launch
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: validate goal date input on modal add
  src/index.js
Labels: Main Window

fix: validate goal date range on update
  assets/index.css
  src/index.js
Labels: Style, Main Window

feat: ave sort by date on mess tab, also style updates
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: start on more ui clean up
  assets/index.css
  src/index.html
Labels: Style, Main Window

fix: css fixes
  assets/index.css
  src/index.html
Labels: Style, Main Window

fix: mess tool bar finished
  assets/index.css
  src/index.html
Labels: Style, Main Window

feat: add new svg buttons
  assets/index.css
  assets/mail.svg
  assets/phone.svg
  src/index.html
  src/index.js
Labels: Style, Main Window

Add files via upload
  docs/Initiative tab 0.1.6 beta 1.PNG
Labels: documentation

Create raw
  docs/raw
Labels: documentation

Delete raw
  docs/raw
Labels: documentation

Create test
  docs/raw/test
Labels: none

Add files via upload
  docs/raw/Initiative tab 0.1.6 beta 1.PNG
  docs/raw/Initiative tab 0.1.6 beta 2.PNG
  docs/raw/Message Manager tab 0.1.6 beta 1.PNG
  docs/raw/Message Manger tab 0.1.6 beta 2.PNG
Labels: none

Delete Initiative tab 0.1.6 beta 1.PNG
  docs/Initiative tab 0.1.6 beta 1.PNG
Labels: documentation

Delete test
  docs/raw/test
Labels: none

Update README.md
  README.md
Labels: none

refractor: style save and open buttons
  assets/index.css
Labels: Style

fix: finish save/open button style
  assets/index.css
Labels: Style

refractor: more button overhauls
  assets/index.css
  assets/sm-arrow-left.svg
  assets/sm-arrow-right.svg
  assets/sm-clipboard-copy.svg
  assets/sm-home.svg
  assets/sm-plus.svg
  src/index.html
  src/index.js
Labels: Style, Main Window

Add files via upload
  assets/Message-Manager.svg
Labels: Style

refractor: final ui changes for 0.1.6 release
  assets/Message-Manager.ico
  assets/index.css
  assets/pencil-alt.svg
  src/index.html
  src/index.js
Labels: Style, Main Window

Update README.md
  README.md
Labels: none

refractor: clean up icon edges
  assets/Message-Manager.ico
  assets/Message-Manager.svg
Labels: Style

test: updated tests for ui changes
  test/test_index.js
  test/test_message_editor.js
Labels: Test

Update README.md
  README.md
Labels: none

fix: merge conflict
  assets/Message-Manager.ico
Labels: Style

chore: package updates
  package-lock.json
  package.json
Labels: none

fix: test updates or new packages
  package-lock.json
  package.json
  test/test_index.js
  test/test_message_editor.js
Labels: Test

fix: hopfully fix for headless tests
  test/test_index.js
  test/test_message_editor.js
Labels: Test

test: to see if different test format works in headless
  test/test_mini.js
Labels: Test

chore: add chromedriver log
  logs
  test/test_index.js
Labels: Test

chore: setting print added
  test/test_index.js
Labels: Test

.github/labeler.yml:

# Add 'Test' to any changes within test folder
Test: test/*

# Add 'Assets' to any file changes within assets folder
Style: assets/*

# Add 'Main' label 
Main Process: main.js

# Add 'Main Window' label
Main Window:
- src/index.html
- src/index.js

# Add 'Message Editor' label
Message Editor:
- src/message_editor.html
- src/message_editor.js

# Add 'Object Template' label 
Object Template:
- src/objectTemplate.js

# Add 'documentation' label 
documentation:
- docs/*
