Repository harrellbm/Communication-Manager-Electron, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Style, Main Process, Main Window, Message Editor, Object Template, documentation

chore: update moment to 2.25.3, electron 8.2.5
  node_modules/@electron/get/README.md
  node_modules/@electron/get/dist/cjs/Cache.d.ts
  node_modules/@electron/get/dist/cjs/Cache.js
  node_modules/@electron/get/dist/cjs/Cache.js.map
  node_modules/@electron/get/dist/cjs/GotDownloader.js
  node_modules/@electron/get/dist/cjs/GotDownloader.js.map
  node_modules/@electron/get/dist/cjs/artifact-utils.d.ts
  node_modules/@electron/get/dist/cjs/artifact-utils.js
  node_modules/@electron/get/dist/cjs/artifact-utils.js.map
  node_modules/@electron/get/dist/cjs/index.js
  node_modules/@electron/get/dist/cjs/index.js.map
  node_modules/@electron/get/dist/cjs/types.d.ts
  node_modules/@electron/get/dist/esm/Cache.d.ts
  node_modules/@electron/get/dist/esm/Cache.js
  node_modules/@electron/get/dist/esm/Cache.js.map
  node_modules/@electron/get/dist/esm/GotDownloader.js
  node_modules/@electron/get/dist/esm/GotDownloader.js.map
  node_modules/@electron/get/dist/esm/artifact-utils.d.ts
  node_modules/@electron/get/dist/esm/artifact-utils.js
  node_modules/@electron/get/dist/esm/artifact-utils.js.map
  node_modules/@electron/get/dist/esm/index.js
  node_modules/@electron/get/dist/esm/index.js.map
  node_modules/@electron/get/dist/esm/types.d.ts
  node_modules/@electron/get/package.json
  node_modules/electron/dist/ffmpeg.dll
  node_modules/electron/dist/libEGL.dll
  node_modules/electron/dist/swiftshader/libEGL.dll
  node_modules/electron/dist/swiftshader/libGLESv2.dll
  node_modules/electron/dist/version
  node_modules/electron/electron.d.ts
  node_modules/electron/package.json
  package-lock.json
  package.json
Labels: none

feat: add spellchecker to index and editor
  main.js
Labels: Main Process

fix: add delay to test for timing improvment
  test/test_index.js
Labels: Test

chore: bump version number to 0.1.5
  package.json
Labels: none

fix: test timing
  test/test_index.js
Labels: Test

fix: more timing fixes
  test/test_index.js
Labels: Test

fix: timing
  test/test_index.js
Labels: Test

fix: timing timing
  test/test_index.js
Labels: Test

chore: added icon
  docs/Message Manager.ico
  docs/firstIcon.xcf
Labels: documentation

chore: config for windows.squirrell
  main.js
  package-lock.json
  package.json
Labels: Main Process

fix: yet more timing tweaks for tests
  test/test_message_editor.js
Labels: Test

fix: gonna get this right. switched file reads to promises
  test/test_index.js
  test/test_message_editor.js
Labels: Test

feat: first crack at initiative tab html
  src/index.html
Labels: Main Window

fix: actually ignore node modules
  .gitignore
Labels: none

chore: add back basic launch script
  package.json
Labels: none

chore: set up icon for executable
  assets/Message-Manager.ico
  package.json
Labels: Style

feat: begining format for initiative tab
  assets/index.css
  src/index.html
Labels: Style, Main Window

feat: start on initiative load on start
  main.js
  src/index.js
Labels: Main Process, Main Window

fix: blank data.json for clean first load
  data.json
Labels: none

fix: check for empty file on load and load blank initiative if it is
  main.js
Labels: Main Process

reafractor: refractor load logic into function used by index creator and open-file ipc
  main.js
Labels: Main Process

feat: load to message tab on start
  src/index.js
Labels: Main Window

feat: add name to initiative object
  src/objectTemplate.js
  test/test_object_templates.js
Labels: Test, Object Template

feat: hook in init name and title. Also init tab save button
  src/index.html
  src/index.js
Labels: Main Window

feat: add group button for ui
  assets/index.css
  src/index.html
Labels: Style, Main Window

feat: basic goal functions
  src/index.html
  src/index.js
Labels: Main Window

feat: basic css for dynamic goal objects
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: small tweaks on goal add method w/ docstring fixes
  src/index.js
  src/objectTemplate.js
Labels: Main Window, Object Template

feat: basic goal integration
  assets/index.css
  src/index.js
Labels: Style, Main Window

chore: add dependency tui-calendar
  package-lock.json
  package.json
Labels: none

feat: initial ui for calendar
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

style: remove extra console.logs
  src/index.js
Labels: Main Window

style: add comments
  src/index.js
Labels: Main Window

feat: integrate usable group object
  src/objectTemplate.js
Labels: Object Template

test: all object tests for new group object
  test/test_object_templates.js
Labels: Test

fix: display calendar within proper box
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

feat: basic group ui added w/ save and load
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

refractor: add phone call and card to avenue types
  src/objectTemplate.js
Labels: Object Template

fix: restructure nested contacts object
  src/objectTemplate.js
Labels: Object Template

test: tests for new contacts structure
  test/test_object_templates.js
Labels: Test

.github/labeler.yml:

# Add 'Test' to any changes within test folder
Test: test/*

# Add 'Assets' to any file changes within assets folder
Style: assets/*

# Add 'Main' label 
Main Process: main.js

# Add 'Main Window' label
Main Window:
- src/index.html
- src/index.js

# Add 'Message Editor' label
Message Editor:
- src/message_editor.html
- src/message_editor.js

# Add 'Object Template' label 
Object Template:
- src/objectTemplate.js

# Add 'documentation' label 
documentation:
- docs/*
