Repository harrellbm/Communication-Manager-Electron, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Style, Main Process, Main Window, Message Editor, Object Template, documentation

.github/labeler.yml:

# Add 'Test' to any changes within test folder
Test: test/*

# Add 'Assets' to any file changes within assets folder
Style: assets/*

# Add 'Main' label 
Main Process: main.js

# Add 'Main Window' label
Main Window:
- src/index.html
- src/index.js

# Add 'Message Editor' label
Message Editor:
- src/message_editor.html
- src/message_editor.js

# Add 'Object Template' label 
Object Template:
- src/objectTemplate.js

# Add 'documentation' label 
documentation:
- docs/*

feat: update avenue on schedule drag in calendar
  src/index.js
Labels: Main Window

feat: added icon to all browserwindows
  assets/Message-Manager.ico
  main.js
  package.json
Labels: Style, Main Process

feat: update avenue from mess tab
  src/index.js
Labels: Main Window

feat: define frequency in goal
  src/objectTemplate.js
Labels: Object Template

test: new tests for goal
  test/test_object_templates.js
Labels: Test

fix: make sure timezone stored in initiative object
  src/index.js
Labels: Main Window

feat: initial frequancy ui and ui update
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

chore: add keywords to package.json
  package.json
Labels: none

fix: small init tab ui tweak
  assets/index.css
Labels: Style

fix: more ui tweaks
  assets/index.css
Labels: Style

fix: goal frequency sync with save a load
  src/index.js
Labels: Main Window

refractor: clean up comments
  src/objectTemplate.js
Labels: Object Template

refractor: fix style and update date handles
  src/objectTemplate.js
Labels: Object Template

test: update object tests for new date handling
  test/test_object_templates.js
Labels: Test

feat: inital add goal modal
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: editor title box bigger
  assets/message_editor.css
Labels: Style

fix: clean up goal frequency ui
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: goal save from modal and global
  src/index.js
Labels: Main Window

feat: goal and ave id handling
  src/index.js
  src/objectTemplate.js
Labels: Main Window, Object Template

test: tests for new id handleing
  test/test_object_templates.js
Labels: Test

feat: goal start date, desc and avenue goal_id
  src/objectTemplate.js
Labels: Object Template

test: tests for new methods and properties
  test/test_object_templates.js
Labels: Test

feat: inital work on adding start date and description to goal
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: ui clean up
  assets/index.css
  src/index.html
Labels: Style, Main Window

fix: update save for changes in goal
  src/index.js
Labels: Main Window

feat: generate ave goal object method
  src/objectTemplate.js
Labels: Object Template

test: for new generate ave method
  test/test_object_templates.js
Labels: Test

refractor: tweak test to closer represent normal function
  test/test_object_templates.js
Labels: Test

feat: generate dates method for goal
  src/objectTemplate.js
Labels: Object Template

test: for new method
  test/test_object_templates.js
Labels: Test

feat: inital goal adding to ui (very very buggy now)
  src/index.js
Labels: Main Window

fix: goal days freq basic functionality (still buggy)
  src/index.js
Labels: Main Window

feat: basic work on unique goal ave style
  assets/index.css
Labels: Style

fix: goal calendar display bugs
  src/index.js
Labels: Main Window

fix: finish style for goal on cal, disable goal ave drag
  assets/index.css
  assets/sm-lock-closed.svg
  src/index.js
Labels: Style, Main Window

fix: disable mess tab delete button for goal aves
  src/index.js
Labels: Main Window

style: clean up mess tab ave style
  assets/index.css
Labels: Style

fix: disabled/readonly for mess tab aves linked to goal
  src/index.js
Labels: Main Window

style: finished mess tab ave style for usability and look
  assets/index.css
  src/index.js
Labels: Style, Main Window

chore: add svgs to assets
  assets/annotation.svg
  assets/chart-bar.svg
  assets/collection.svg
Labels: Style
