Repository harrellbm/Communication-Manager-Electron, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Style, Main Process, Main Window, Message Editor, Object Template, documentation

.github/labeler.yml:

# Add 'Test' to any changes within test folder
Test: test/*

# Add 'Assets' to any file changes within assets folder
Style: assets/*

# Add 'Main' label 
Main Process: main.js

# Add 'Main Window' label
Main Window:
- src/index.html
- src/index.js

# Add 'Message Editor' label
Message Editor:
- src/message_editor.html
- src/message_editor.js

# Add 'Object Template' label 
Object Template:
- src/objectTemplate.js

# Add 'documentation' label 
documentation:
- docs/*

longer time for chromdriver to start
  test/test_index.js
Labels: Test

try different test format
  test/test.page.js
  test/test_mini.js
Labels: Test

try isolating args
  test/test_index.js
Labels: Test

Update README.md
  README.md
Labels: none

fix: bump version to 0.1.6-beta
  package.json
  test/test_index.js
Labels: Test

fix: add logo as png
  assets/Message-Manager.png
  main.js
Labels: Style, Main Process

chore: add logs to gitignore
  .gitignore
Labels: none

fix: dynamic path so icons work once packaged
  main.js
Labels: Main Process

fix: add path module to main
  main.js
Labels: Main Process

fix: load icon on linux correctly
  main.js
Labels: Main Process

fix: back out of bad changes in test before hooks
  test/test_index.js
  test/test_mini.js
Labels: Test

fix: hard code timezone check removed
  test/test_index.js
Labels: Test

Update README.md
  README.md
Labels: none

refractor: ico add beveled edges and mult res
  assets/16.png
  assets/32.png
  assets/48.png
  assets/Manager-Icon.ico
  assets/Message-Manager.ico
  main.js
  package.json
Labels: Style, Main Process

fix: clean up file reading
  main.js
  test/test_index.js
  test/test_message_editor.js
Labels: Test, Main Process

fix: remove direct file reads from tests
  test/test_message_editor.js
Labels: Test

fix: remove direct file reads from tests
  test/test_index.js
Labels: Test

fix: finish hardening current test suite
  test/test_index.js
  test/test_message_editor.js
Labels: Test

test: add test for init description and title
  test/test_index.js
Labels: Test

test: add/remove group test
  test/test_index.js
Labels: Test

test: finish tests for groups
  test/test_index.js
Labels: Test

Add files via upload
  docs/raw/Initiative-Tab-0.1.6-beta.3.PNG
  docs/raw/Message-Manager-Tab-beta.3.PNG
Labels: none

Delete Message-Manager-Tab-beta.3.PNG
  docs/raw/Message-Manager-Tab-beta.3.PNG
Labels: none

Add files via upload
  docs/raw/Message-Manager-Tab-0.1.6-beta.3.PNG
Labels: none

Delete Initiative-Tab-0.1.6-beta.3.PNG
  docs/raw/Initiative-Tab-0.1.6-beta.3.PNG
Labels: none

Add files via upload
  docs/raw/Initiative-Tab-0.1.6-beta.3.PNG
Labels: none

Update README.md
  README.md
Labels: none

fix: remove selectablity of titles and seperators
  assets/index.css
  src/index.html
Labels: Style, Main Window

chore: remove unused test file
  test/test.page.js
Labels: Test

test: for add remove goal
  test/test_index.js
Labels: Test

test: calendar navigation
  test/test_index.js
Labels: Test

fix: slight style clean up
  assets/index.css
  src/index.js
Labels: Style, Main Window

test: add checks for goal type and description
  test/test_index.js
Labels: Test

test: timing fix for test that close and open app
  test/test_index.js
Labels: Test

refractro: clean up css rules/ add css variables
  assets/message_editor.css
  src/message_editor.html
  src/message_editor.js
  test/test_message_editor.js
Labels: Test, Style, Message Editor

refractor: add more css variables
  assets/index.css
  assets/message_editor.css
Labels: Style

chore: bump to version 0.1.6
  package-lock.json
  package.json
Labels: none

chore: add linix maker to forge config
  package.json
Labels: none

Update README.md
  README.md
Labels: none

chore: bump electron to 9.2.0 and spectron to 11.1.0
  package-lock.json
  package.json
Labels: none
