Repository harrellbm/Communication-Manager-Electron, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Style, Main Process, Main Window, Message Editor, Object Template, documentation

.github/labeler.yml:

# Add 'Test' to any changes within test folder
Test: test/*

# Add 'Assets' to any file changes within assets folder
Style: assets/*

# Add 'Main' label 
Main Process: main.js

# Add 'Main Window' label
Main Window:
- src/index.html
- src/index.js

# Add 'Message Editor' label
Message Editor:
- src/message_editor.html
- src/message_editor.js

# Add 'Object Template' label 
Object Template:
- src/objectTemplate.js

# Add 'documentation' label 
documentation:
- docs/*

feat: beginning of contact handling
  assets/index.css
  src/index.js
Labels: Style, Main Window

fix: added group id on front of contact id to make it unique
  src/objectTemplate.js
Labels: Object Template

test: fix tests for contact id update
  test/test_object_templates.js
Labels: Test

fix: bug and test fixes for group object
  src/objectTemplate.js
  test/test_object_templates.js
Labels: Test, Object Template

fix: more minor updates
  src/objectTemplate.js
  test/test_object_templates.js
Labels: Test, Object Template

fix: groups and contacts now works correctly
  src/index.js
  src/objectTemplate.js
Labels: Main Window, Object Template

style: add explination comment
  src/objectTemplate.js
Labels: Object Template

feat: copy email and phone number buttons. plus style cleanup
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

style: clean up initiative css for better visuals
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

feat: basic calendar handeling on init tab
  src/index.html
  src/index.js
Labels: Main Window

feat: basic calendar nav working now
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: overwrite popup text color
  assets/index.css
Labels: Style

feat: basic calendar loading and schedule interaction
  src/index.js
Labels: Main Window

test: add chrome debugger script for index tests
  package.json
Labels: none

refractor: delete unused require
  src/index.js
Labels: Main Window

feat: basic modal ui for avenue
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

fix: finish ave add modal formatting
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

feat: modal add ave integrated with message manager tab. also css updates
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

feat: start on handleing aves in calendar (very buggy)
  src/index.js
Labels: Main Window

fix: add ave integration finished, date bugs fixed
  src/index.js
Labels: Main Window

fix: refresh problem with calendar on tab switch
  src/index.js
Labels: Main Window

feat: add sent to ave modal popup
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

feat: add click on existing ave in calendar open popup. Also Date bug fix
  src/index.js
Labels: Main Window

refractor: organize file around data structures instead of tabs
  src/index.js
Labels: Main Window

fix: ave update from modal works, clear sec com, refractor add ave func
  src/index.html
  src/index.js
  src/objectTemplate.js
Labels: Main Window, Object Template

feat: add delete button to avenue popup
  assets/index.css
  src/index.html
Labels: Style, Main Window

feat: add delete button to ave popup
  src/index.js
Labels: Main Window

fix: handle ave popup delete btn on launch from all types
  src/index.html
  src/index.js
Labels: Main Window

fix: clear ave popup drop down on close
  src/index.js
Labels: Main Window

refractor: clean console logs and unused event calls
  src/index.js
Labels: Main Window

fix: open button update
  src/index.js
Labels: Main Window

test: current index tests updated
  test/test_index.js
Labels: Test

style: comment console.logs
  test/test_index.js
Labels: Test

chore: bump electron 9.0.2, spectron 11.0.0
  package-lock.json
  package.json
Labels: none

fix: move open button to init tab
  assets/index.css
  src/index.html
  src/index.js
Labels: Style, Main Window

test: update tests for open button move
  test/test_index.js
Labels: Test

feat: open btn now integrated with init tab
  src/index.js
Labels: Main Window

fix: sync avenue delete from mess tab
  src/index.js
Labels: Main Window

fix: remove ui tag on accessing elements instad of grabbing last digit
  src/index.js
Labels: Main Window

fix: save to main from avenue popup save
  src/index.js
Labels: Main Window
